<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap       = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id              = "net.projectace.drop"
        version         = "1.0.0">

    <name>Drop</name>

    <description>
        Drop your moments
    </description>

    <author href="http://projectace.net" email="alexander.db27@gmail.com">
        Project / ACE
    </author>
    
    <icon src="img/icon.png" />
    <gap:splash src="img/icon.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="img/icon.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="img/icon.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="img/icon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <gap:splash src="img/icon.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
    <gap:splash src="img/icon.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
    <gap:splash src="img/icon.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
    <access origin="*"/> <!-- allow local pages -->
    
    <plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
 
</widget>